.crawl-create-background {
    display: flex;
    height: 100vh;
    vertical-align: center;
    align-items: center;
    justify-content: flex-end;
    /* background: linear-gradient(to top, #e6e6e677 0%, #ececec11 100%); */
  background-color: rgba(2, 9, 85, 0.6);
  min-height: 800px;
}

.create-crawl-wrapper {
    /* flex-direction: column;
    text-align: center;
    display: flex;
    min-width: 400px; */
    /* background-color: #f17e2621; */
    /* border: 1px solid rgb(20, 20, 20); */
    /* width: 40%;
    height: 50%; */
    /* justify-content: center; */
    margin-right: 20%;
    display: block;
    position: relative;
}