.main-page-container {
    height: 88vh;
    width: 99vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6%;
}

.main-left-container {
    height: 90%;
    width: 12%;
    /* background-color: black; */
        font-family: 'Quicksand';
        position: fixed;
        left: 65vw;
        top: 18vh;
        
        
}
    .create-buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 8%;
    }

    .create-button {
        background-color: #f2f2f2;
        font-family: 'Quicksand';
        font-size: 1.08vh;
        font-weight: 300;
        vertical-align: center;
        text-decoration: none;
        color: #797979;
        background-image: none;
        background-color: #f2f2f2;
        border-radius: 8px;
        box-shadow: none;
        cursor: pointer;
        height: 20px;
        min-width: 40px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 6px;
        border: .5px solid rgb(205, 205, 205);
                
    }


    .category-container {
        width: 100%;
        height: 45%;
        background-color: rgba(209, 209, 209, 0.45);
        margin-bottom: 10%;
    }

    .developers-container {
        width: 100%;
        height: 50%;
        background: #f0f0f0;
        /* background: url("https://i.postimg.cc/ZnhF2RgG/Screen-Shot-2022-09-02-at-3-07-11-AM.png"); */
        border: .7px solid rgb(206, 206, 206);
        /* margin-top: 15%; */
        border-radius: 8px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        /* gap: 2vw; */
        

    }

    .personal-link-photo {
        /* display: flex; */
        width: 3.3vw;
        /* width: auto; */
        border-radius: 50%;
        filter: contrast(.9);
        border: #e6e6e6 solid .7px;

    }

    .personal-link{
        height: auto;
        width: 25%;
        margin: .5vh;
        filter: invert() contrast(10%);
        
    }

    /* .developers-container:hover {
        box-shadow:
                1px 1px #F17F26,
                2px 2px #F17F26,
                3px 3px #F17F26,
                6px 6px #ffba08;
            -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
            transition: .5s ease;
    } */

    .devs {
        font-size: 1.8vh;
        color: #858585;
        line-height: 130%;
    }

.main-crawl-container {
    display: flex;
    /* align-items: ; */
    justify-content: center;
    height: 90%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    /* border: .1px solid rgb(215, 215, 215); */
    border-radius: 8px;
    font-family: 'Quicksand';
    padding-right: 14vw;

}

.crawl-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    padding-top: 1%;
    border-radius: 8px;
    /* background: linear-gradient(to top, #00000006 100%, #ececec11 100%); */

 
}

.each-crawl-container {
    border: .1px solid rgb(201, 201, 201);
    border-radius: 6px;
    background: #f2f2f2;
    width: 100%;
    margin-bottom: 2%;
}

.each-crawl {
    /* background-color: rgba(219, 219, 219, 0.207); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
    /* margin-top: 1%; */
    /* gap: 5%; */
}

.each-crawl-container:hover {
    box-shadow:
            1px 1px #F17F26,
            2px 2px #F17F26,
            /* 1.5px 1.5px #F17F26, */
            3px 3px #F17F26,
            /* 2px 2px #F17F26, */
            6px 6px #ffba08;
        -webkit-transform: translateX(-2.5px);
        transform: translateX(-2.5px);
        transition: .5s ease;
    /* border: 1px solid white; */
    transform: scale(1.038);
    transition: .5s ease;
}

.each-desc {
    /* border: 1px solid black; */
    /* max-width: 70%; */
    width: 60%;
}

.each-crawl-container a{
    /* border: 1px solid black; */
    text-decoration: none;
    color: #777777;
    /* font-size: 250%; */
    font-size: 3vw;
    font-weight: lighter;
    margin: 4px;
}
.each-crawl-container a:hover {
    /* border: 1px solid black; */
    color: #ffba08;
    /* text-shadow: 1px 1px 2px #ffb90845; */
    transition: .5s ease;
}
.each-sub-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    /* border: 1px solid black; */
    /* padding: 2%; */
}

.each-sub-desc p {
    font-size: 1vw;
    margin: 2%;
    color: #555555db;
}

.each-sub-desc p:hover {
    /* border: 1px solid black; */
    cursor: default;
    color: #ffba08;
    text-shadow: 1px 1px 2px #ffb90845
}



.crawl-venue-container {
    /* border: 1px solid black; */
    padding: 1%;
}

.each-crawl-venue-details {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(210, 210, 210);
    margin-top: .5%;
    margin-bottom: .5%;
    /* justify-content: center; */
}

.each-crawl-venue-details a {
    text-decoration: none;
    color: #555555db;
    font-size: .9vw;
    /* justify-content: center; */
}

.each-crawl-venue-details:hover {
    /* border: 1px solid black; */
    color: #ffba08;

}

.each-crawl-venue-details a:hover {
    /* border: 1px solid black; */
    color: #ffba08;

}

.main-page-images {
    height: 20px;
}