.venue-show-map-container {
    height: 43%;
    width: 10%;
    display: fixed;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    top: 0;
    left: 0;
    /* border: 10px solid black; */
}


.map-container div {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    /* color: #4e4e4ecd; */
    /* border: 1px solid ; */
    font-size: 20px;
    height: 30%;
    width: 55%;
    /* margin-top: -60px; */
    /* margin-left: 30px; */

}
.map-container-crawl div {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    /* color: #4e4e4ecd; */
    /* border: 1px solid ; */
    font-size: 20px;
    
    /* margin-top: -60px; */
    /* margin-left: 30px; */

}