.profile-img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 2px solid orange;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}

.profile-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.profile-right-crawls {
  padding: 5px;
  font-size: 20px;
}