.profile-container {
  height: 88vh;
  width: 99vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6%;
}

.profile-left {
  height: 90%;
    width: 20%;
    /* background-color: black; */
    font-family: 'Quicksand';
    position: fixed;
    right: 62vw;
    top: 18vh;
}

  .profile-img {
    border-radius: 50%;
    height: 25vh;
    width: auto;
    border: 2px solid orange;
  }

.profile-right {
  display: flex;
    /* align-items: ; */
    justify-content: center;
    height: 90%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    /* border: .1px solid rgb(215, 215, 215); */
    border-radius: 8px;
    font-family: 'Quicksand';
    padding-left: 25vw;
}

.profile-crawl-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  padding-top: 1%;
  border-radius: 8px;
  /* background: linear-gradient(to top, #00000006 100%, #ececec11 100%); */
}

.profile-right-crawls {
  padding: 5px;
  font-size: 20px;
}

.profile-crawl-header {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  height: 8vh;
  gap: 1vw;
  align-items: baseline;
}
.edit-crawl-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 3px;
}


.edit-crawl-container:hover {
  cursor: pointer;
  background-color: orange;
}

.delete-crawl-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 3px;
}


.delete-crawl-container:hover {
  cursor: pointer;
  background-color: orange;
}

.edit-icon {
  display: flex;
  width: 1.4vw;
  height: auto;
  filter: opacity(50%);
}

.profile-edit-delete {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}