.venue-show-main {
    height: 90.1vh;
    width: 99vw;
    background: linear-gradient(to top, #e6e6e677 0%, #ececec11 100%);    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand';
    /* gap: 4%; */
}

.left-column {
    width: 65%;
    height: 90%;
}


.right-column {
    width: 35%;
    height: 90%;
    /* background-color: rgba(125, 125, 125, 0.755); */
    /* margin-left: -4%; */
    /* padding-right: -10%; */
    justify-content: center;
    align-items: center;
    vertical-align: center;
    flex-direction: column;
}

.venue-show-image-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.venue-show-image {
    /* size: auto; */
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    /* height: max-content; */
    max-height: 90%;
    max-width: 90%;
    opacity: 85%;
    /* border: 2px solid #F17F26; */
    /* border-bottom: 1px solid #F17F26;
    border-right: 1px solid #F17F26; */
}

.venue-show-image:hover {
    box-shadow:
        .5px .5px #F17F26,
        1px 1px #F17F26,
        1.5px 1.5px #F17F26,
        1.5px 1.5px #F17F26,
        2px 2px #F17F26,
        2.5px 2.5px #F17F26;
    -webkit-transform: translateX(-2.5px);
    transform: translateX(-2.5px);
    transition: .5s ease;
    /* box-shadow: 0 0 0px .5px #F17F26;
    transition: .5s ease; */
}

.venue-show-map-container {
    height: 43%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.venue-show-map {
    color: #4e4e4ecd;
    font-size: 20px;
    background-color: rgba(134, 134, 134, 0.208);
    height: 100%;
    max-height: 85%;
    width: 90%;
    max-width: 90%;
}

.business-details {
    /* height: 60%; */
    min-height: 35%;
    max-height: 58%;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.business-details h1{
    color: #4e4e4ecd;
   font-size: 250%;
   font-weight: 100;
   margin-top: 2%;
   margin-bottom: 2%;

}

.business-details p {
    color: #4e4e4ecd;
    font-size: 85%;
    font-weight: 100;
    margin-top: 0%;
    margin-bottom: 2%;
    max-width: 75%;
    margin-bottom: 2%;
    /* padding-right: 20px;
    padding-left: 20px; */
}

.cost-website {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cost-website p {
    margin-right: 15%;
}
.cost-website a {
    font-family: 'Quicksand';
    margin-left: 15%;
    text-decoration: none;
    font-size: 85%;
}

.cost-website a:visited {
    font-family: 'Quicksand';
    margin-left: 15%;
    text-decoration: none;
    font-size: 85%;
    color: #F17F26;
}

.comments-container {
    /* border: 1px solid black; */
    background-color: rgba(128, 128, 128, 0.263);
    max-height: 40%;
    /* height: %; */
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

