.venue-index-main {
    /* height: 88vh;
    width: 99vw; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* padding-top: 30vh; */
    /* gap: 6%; */
  background-color: rgba(2, 9, 85, 0.6);
}

.venue-index-title {
    display: flex;
    font-family: 'Quicksand';
    font-size: 5.5vh;
    font-weight: 600;
    color: black;
    padding: 15px;
}

.venue-index-container {
    display: flex;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    /* padding-top: 55vh; */
    gap: 5vw;
    margin-bottom: 50px;
}

.venue-show-image {
    height: 33vh;
    width: auto;
    max-height: 400px;
    max-width: 400px;
    border-radius: 3px;
    border: 1px solid rgb(134, 134, 134);
    margin-bottom: 50px;
}

.each-venue-idx a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand';
    font-size: 2.3vh;
    text-decoration: none;
    color: black;
    padding: -10px;
    font-weight: 600;
}